# Requirements for Local Testing
# ================================

# Web Framework
Flask==3.0.0
flask-cors==4.0.0

# AWS SDK
boto3==1.42.59
botocore==1.42.59

# JWT
PyJWT==2.11.0
cryptography==42.0.5

# Database (versión precompilada para Windows)
psycopg2-binary==2.9.10

# Utilities
python-dateutil==2.9.0

# AMS Logging Policy
python-json-logger>=2.0.0
